*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(black2.png);  
}

/* for header contents */
header
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index:10;
    background-color: black;
    position:sticky;
    top: 0;
}



/* my portfolio */
.mp{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    float: left;
    margin-left:2px;
    margin-top: 20px;
    position:sticky;
    top: 0;
    
    

    
/* about menu */
}
.menu{
    width: 400px;
    float: left;
    height: 7px;
    margin-top: 10px;
    margin-left: 240px;
    position:sticky;
    top: 0;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14PX;
    position:sticky;
    top: 0;
    
    
}
ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
    height: 5px;
    border-width: 100px;
    
}

/* .about_me{
    text-align:justify;
    color: #e85656;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 30px;
    border-width: 0;
    font-weight: lighter;    
} */
/* .about_me h1:hover{
    color: #e7f82a;
    height: 5px;
    border-width: 100px;
    

} */
.about_me h1 span{
    font-size: 180px;
}




/* for resume */

.resume
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 14px;
    margin-top: 2px;
 
}
.resume a{
    margin-left: 400px;
    margin-top: 27px;
    padding: 1px 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;

    
}


.resume a i{
    margin-left: 2px;
    width: 50px;
    text-align:center;
}

.resume .btnn{
    color: #060303;
    background-color:#f02727;
    font-weight: bold;
    padding:3px 15px; 
    font-size: 15px;
    margin-left: 310px;
    margin-top: 20px;
}

.resume:hover{
    color: #ffffff;
}

/* .resume .btnn:hover{
    color: #ffffff;
}
.resume .btnn i:hover{
    color: #ffffff;
} */

.resume .btnn  i{
    color: #060303;
    /* padding: 10px 20px;  */
}
a{
    text-decoration: none;
    color: #ffffff;
    margin-top: 50px;
    
   
    
   
}

.resume img{
    margin-top: -400px;
    margin-left: 10px;
}
a:hover
{
    color: #f8f2ec;
    height: 30px;
    border-width: 10px;

}
.name{
    color: #ffffff;
    margin-top: 90px;
    margin-left: 55px;
    font-weight: 100px;
    font-stretch: extra-expanded;
    font-size: 20px;
    font-family: Arial; 

}
/* .name h1:hover{
    color: rgb(56, 21, 21);
    height: 5px;
    border-width: 100px;
} */
.name h1{
    color: #9d9b4f;
    margin-top: 20px;
    margin-left: 20px;
    font-stretch: ultra-expanded;
    text-decoration:turquoise;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    letter-spacing: 5px;
}

.name h1:hover{
    color:#ff7200
    
}


/* profile */
.container{
    display: flex;
    justify-content: center; 
    align-items:self-start;
    min-height: 100vh;
    margin-left: 800px;
    margin-top: -200px; 
    flex-wrap: wrap;

}


.container img{
    width: 100%;
    height: 100%;
    /* filter: grayscale(.4); */
    transition:transform .4s ease-in;

}

.container img:hover{
    /* filter: grayscale(0); */
    transform:scale(1.2)
}


.circle{
    position: relative;
    border-radius: 50%;
    overflow:hidden;
    cursor: pointer;
}
.outer-circle{
    width: 340px;
    height: 340px;
    background-color: rgba(77,77,77,0.46);
    display:flex;
    justify-content:baseline;
    border: 5px;
    border-style:double ;
    border-color: rgb(255, 0, 0);
    /* align-items: center; */
    margin: 15px;

}

.container .sub h3{
    color: #ffffff;
    margin-right: 2086px;
    margin-top: -400px;
}
.hd{
    background-color: black;
    position:sticky;
    top: 0;
}


.abt h1{
    color: #ffffff;
    height: 500px;
}

.contact{
    color: #ffffff;
}




/* ABOUT PAGE IT INCLUDES PARAGRAPH LOGO */
.footercontainer .socialicons {
    margin-top: 100px;
}


.socialicons a i{
    width: 20px;
    font-size: 30px;
    margin-left: -80px;
}

.socialicons a i:hover{
    color: #cd4343;
}

.footercontainer .sub p{
    color: #f02727;
    /* margin-left: -1150px; */
}


.footercontainer .socialicons a i{
    margin-left: 2px;
    width: 80px;
}

    
.sub{
    color: #ffffff;
    margin-top: -115px;
    line-height: 23px;
    margin-left: 2px;
}

.work h2{
    color: #ffffff;
}




.work{
    /* position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
     width: 90vw; 
    display: grid;
     grid-template-columns: repeat(auto-fil); 
    column-gap: 20px;
    row-gap: 100px;
    scroll-behavior: smooth;
    scrollbar-width: 10px; */

    margin-top: 950px;
display: flex;
justify-content: center;
flex-direction: column;
position: relative;
}

.work img{
    max-width: 150px;
    max-height: 150px;
    margin: 2px;

}

.work img:hover{
    cursor: pointer;
    filter: brightness(50%);
}

img{
    width: 500px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
   
}


#FullImageView{
    margin-inline:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(0,0,0,.9) */
}


#FullImage{
    padding: 25px;
    max-width: 98%;
    max-height: 98%;
}

#CloseButton{
    position: absolute;
    top: 12px;
    right: 500px;
    font-size: 2rem;
    color: #f8f2ec;
    cursor: pointer;
}


.certificate-list{
    width: 95vw;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    overflow: scroll;
}