.{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(colorful-skull-dark-art-4k-1e-1920x1080.jpg);
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 800px;
    float: left;
    height: 60px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top:20px;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14PX;
    
}
ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
    width: 0;
    height: 5px;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;

}


.srch{
font-family: 'Times New Roman';
width: 200px;
height: 30px;
background: transparent;
border: 1px orange ;
margin-top: 13px;
color: white;font-size: 16px;
float:left;
padding:10px;
border-bottom: 5px;
border-top: 2px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orangered;
    border: 2px orangered;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    position: relative;
    color: white;
}